# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3
*.db

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
*.cover
*.coverage
*.coverage.*
.cache
nosetests.xml
coverage.xml
*.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
*.env
*.env.*

# Snowflake
*.snowsql_config
